body {
  background-color: black;
}

h1 {
  color: yellow;
  fontfamily: Arial, sans-serif;
}

h1:hover {
  color:white;
}

p {
  color: white;
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
